{% extends "base.html" %}
{% load static %}
{% block title %}
Categories
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    {% endblock %}
{% block content %}

    <div id="projectstop5">

        <div class="explorediv">
            <h2 class="explore">Campaigns in Education.</h2>

        </div>

        <div class="hrdiv">
            <p class="hr">
            <hr>
            </p>

        </div>


        <div class="row" id="prorow1">

            <div class="col-4">
                <div class="card me-5" style="width: 20rem;">
                    <img src="{% static 'images/edu1.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <p class="card-text">Help us to establish a goat farm and transform the reality of one
                            Egyptian community, starting with one family who will expand and pass it on to others
                        </p>
                        <div class="row" style="color: #750550;font-weight: 500;">
                            <p class="col-4">days left</p>
                            <p class="col-4">funded</p>
                            <p class="col-4">target</p>


                        </div>


                        <div class="row">
                            <p class="col-4">77</p>
                            <p class="col-4">2546 $</p>
                            <p class="col-4">4000 $</p>


                        </div>


                        <div>
                            <a href="#" class="btn btn-danger">Donate</a>
                        </div>


                    </div>
                </div>

            </div>


            <div class="col-4">
                <div class="card me-5" style="width: 20rem;">
                    <img src="{% static 'images/edu2.jpeg' %}" class="card-img-top" alt="..." id="pro2">
                    <div class="card-body">

                        <p class="card-text">Help 50 families to get land and the equipment to be able to farm and
                            get 2 harvests in 2022</p>
                        <div class="row" style="color: #750550;font-weight: 500;">
                            <p class="col-4">days left</p>
                            <p class="col-4">funded</p>
                            <p class="col-4">target</p>


                        </div>


                        <div class="row">
                            <p class="col-4">30</p>
                            <p class="col-4">1825 $</p>
                            <p class="col-4">6000 $</p>


                        </div>


                        <div>
                            <a href="#" class="btn btn-danger">Donate</a>
                        </div>


                    </div>
                </div>
            </div>


            <div class="col-4">
                <div class="card me-5" style="width: 20rem;">
                    <img src="{% static 'images/edu3.jpeg' %}" class="card-img-top" alt="..." id="pro3">
                    <div class="card-body">

                        <p class="card-text">Help us raise children whose heads are informed , hands are
                            equipped and hearts are transformed throught he word of God .</p>
                        <div class="row" style="color: #750550;font-weight: 500;">
                            <p class="col-4">days left</p>
                            <p class="col-4">funded</p>
                            <p class="col-4">target</p>


                        </div>


                        <div class="row">
                            <p class="col-4">101</p>
                            <p class="col-4">3569 $</p>
                            <p class="col-4">4000 $</p>


                        </div>


                        <div>
                            <a href="#" class="btn btn-danger">Donate</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="card me-5 ms-5" style="width: 20rem;">
                <img src="{% static 'images/waterwell.jpg' %}" class="card-img-top" alt="..." id="pro4">
                <div class="card-body">

                    <p class="card-text">To facilitate the provision of the quality and wholesome education
                        targeting disadvantaged children and youth to improve their life chances by
                        optimising their potential.</p>
                    <div class="row" style="color: #750550;font-weight: 500;">
                        <p class="col-4">days left</p>
                        <p class="col-4">funded</p>
                        <p class="col-4">target</p>


                    </div>


                    <div class="row">
                        <p class="col-4">45</p>
                        <p class="col-4">1900 $</p>
                        <p class="col-4">2500 $</p>


                    </div>


                    <div>
                        <a href="#" class="btn btn-danger">Donate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}

{% block linkscript %}
   <script src="{% static 'js/categories.js' %}"></script>
{% endblock %}